body {
  background: yellow;
}

.banner{
  background: blueviolet;
}

h1 {
  color:cornsilk;
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
}

@media screen and (max-width:576px) {
  body {
    background: crimson;
  }
  .banner {
    background: cyan;
  }
  h1 {
    color: black;
    font-size: 60px;
  }
}

@media screen and (min-width:768px) {
  body {
    background: #3cdc14;
  }
  .banner {
    background: rgb(190, 28, 155);
  }
  h1 {
    color: black;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
}